/*
    general styling
*/

.katex {
    background: #e6e6e6;
    color: #696969;
}

.btn {
    background: #eaeaea;
    color: #909090;
}

.active, .activeEmoji {
    background: #d8d7d7;
    color: #2196F3;
}

.activeBtn {
    color: white !important;
    background: dodgerblue !important;
}

/*
    NOTESLIST.vue
*/

::placeholder {
    color: grey;
}

#toolset {
background: #d4d4d4;
}

.sidebtn {
background: #AAAAAA;
}

#sidepane-btn {
    background: #e6e6e6;
}

#sidepane-btn svg path {
    fill: #505966;
}

#notes-list, .list-group-item a {
    background: linear-gradient(#FFFFFF, #dddddd);
    color: grey;
}

 .left h3 {
    color: #c1c1c1;
 }

.search {
    background: none;
    color: grey;
}

#t-modal {
    background: #dcdcdc;
    color: lightgrey;
}

#t-modal1 {
    color: grey;
    background: #dcdcdc;
}

#t-modal input{
    background: #dcdcdc;
    border-bottom: 0.3px solid grey;
}

#t-modal input:focus {
    border-bottom: 0.3px solid dodgerblue;
}

#t-modal1 .buttonArray button {
    background: #eaeaea;
    color: #909090;
}

#t-modal1 .buttonArray button:hover {
    background: #ffffff;
}

.add:hover path, .heart:hover path, .export:hover path, .settings:hover path {
	fill: #b7b7b7;
}

.nightm:hover path {
    fill: #e6ff00;
}

.add path, .bin path, .heart path, .export path, .nightm path, .settings path {
    fill: #8a8a8a;
}

.active-settings path {
    fill: #4183c4;
}

/*
    EDITOR.vue
*/

.warning {
    background: #ff0000d6;
    color: #ffffff;
}

.warning button {
    background: #feffff;
    color: grey;
}

.success {
    background: #55a532;
    color: #ffffff;
}

#editor {
    background: linear-gradient(#FFFFFF, #feffff);
}

#textarea {
    background: transparent;
    color: grey;
}

#fake-ta {
    color: transparent;
}

#screen {
    background: transparent;
    color: grey;
}

.autocomp table tr:hover {
    background: #d7d7d7;
}

::-webkit-scrollbar-track {
    background: linear-gradient(gainsboro 90%, #ffffff00);
}

::-webkit-scrollbar-thumb {
    background:#bbbbbb;
    outline: 1px solid grey;
}

/*
    EDITOR SCREEN
*/

#screen::selection {
    background: #009CFF;
}

#screen a {
    color: #4183C4 !important;
}

.checkbox-span {
    background: #ebf6ffb8;
}

h2 {
    border-bottom: 1.5px solid #eaeaea;
}

h6 {
    color: #989696;
}

blockquote {
    background: #f5f5f5;
    padding: 5px 15px;
    border-left: 0.25em solid #dfe2e5;
    color: #6a737d !important;
}

blockquote * {
    color: #6a737d;
}

strong {
    color: #6a737d;
}

pre {
    background: #eaeaea;
    border: none;
}

code {
    border: 1px solid #eaeaea !important;
    background: #eaeaea !important;
}

hr {
    color: #dddddd;
}

table {
    border: 2px solid #d3dce4;
}

table thead tr {
    background: #d3dce4;
}

table tr {
    background-color: white;
}

table tr:nth-child(2n) {
    background: #eaeaea;
}

textarea::selection {
    background: #009CFF;
}

/*
    SETTINGS.vue
*/

.main-settings-container {
    background: #f5f5f5;
}

.left h3 {
    color: #909090;
}

.right button {
    color: #feffff;
    background: #909090;
}

.right button:hover {
    background: dodgerblue;
}

.header {
    background: #efefef;
}

.options-container input, .options-container select {
    color: grey;
}

.options-container input {
    background: none;
}

.options-container select {
    background: #eaeaea;
}

.options-container p, .settings-options h3, .footer p {
    color: grey;
}

.left svg path, .right a svg g path {
    fill: #909090;
}

.options-container .slider {
    background: #cccccc;
}

.options-container .slider:before {
    background-color: white;
}

.options-container input:checked + .slider {
    background: #2196f3;
}

/*
    BOTTOM.vue
*/

#bottom {
    background: #feffff !important;
    color: grey !important;
}

footer #search input {
    background: #2E2E2E;
    color: #a2a2a2;
    border-color: #a2a2a2;
}

.autocomp {
    background: #eaeaead4;
    border-color: 2px solid #eaeaea;
}

.editor-search-bar-small-btn, .editor-search-bar-small-btn .darker {
    fill: #a2a2a2;
}

.editor-search-bar-small-btn .lighter {
    fill: #d2d1d1;
}

.editor-search-bar-small-btn {
    border-top: 0.5px solid #cccccc;
    border-left: 0.5px solid #cccccc;
    border-right: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    background: white;
}

.editor-search-bar-small-btn:first-child {
    border-top: 0.5px solid #cccccc;
    border-left: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    background: white;
}

.editor-search-bar-small-btn:last-child {
    border-top: 0.5px solid #cccccc;
    border-right: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    background: white;
}

.editor-search-bar-input-container {
    border-color: #d2cdcd;
    background: white;
}

.editor-search-bar-input {
    /*border-color: #d2cdcd;*/
    background: transparent;
    color: #505966;
}

.activeInput {
    border-color: dodgerblue;
}

.activated {
    border-color: dodgerblue !important;
    background: #e8f4ff5e;
}

.activated-no-match {
    border-color: red;
    background: #ff00003d;
}

.activated-matched {
    border-color: #55a532;
    background: #4eff003d;
}

.grey {
    color: grey !important;
}

.red {
    color: #f10000;
}

.green {
    color: #3e7924;
}

.editor-search-bar-btn {
    background: white;
    color: #505966;
}

.editor-search-bar-btn:active {
    background: dodgerblue;
    color: white;
}

.editor-search-bar-input:focus {
    border-color: dodgerblue;
}

.editor-search-bar-close-btn {
    fill: #505966;
}

.editor-search-bar {
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background: #e1e1e1;
}

.md-icn {
    fill: #f5f5f5f5;
}

.type {
    background: #eaeaea !important;
}

.item-1 {
    color: white;
    background: #808091;
}

.live {
    background: dodgerblue;
    color: white;
}

mark {
    background: #88ff5166;
    color: transparent;
}

.katex span {
    text-decoration: none !important;
}

#fake-ta span {
    color: transparent;
}

#fake-ta .mispelled, #screen .mispelled {
    background: transparent;
    text-decoration-style: dotted;
    text-decoration-color: #ff0000b0;
    text-decoration-line: underline;
}

#fake-ta .selection {
    background: #1e90ff4d;
}
