/*
    general styling
*/

/*.status {
    background: #695799;
    color: white;
}*/

.katex {
    background: #e6e6e6;
    color: #696969;
}

.btn {
    background: #eaeaea;
    color: #909090;
}

.active {
    background: #d8d7d7;
    color: #2196F3;
}

.activeBtn {
    color: white !important;
    background: dodgerblue !important;
}

/*
    NOTESLIST.vue
*/

#toolset {
background: #d4d4d4;
}

.sidebtn {
background: #AAAAAA;
}

#sidepane-btn {
    background: #e6e6e6;
}

#sidepane-btn svg path {
    fill: #505966;
}

#notes-list {
    background: linear-gradient(#FFFFFF, #dddddd);
    color: grey;
}

.search {
    background: none;
    color: grey;
}

#t-modal {
    background: rgb(220, 220, 220);
    color: lightgrey;
}

#t-modal input{
    background: rgb(220, 220, 220);
    border-bottom: 0.3px solid grey;
}

#t-modal input:focus {
    border-bottom: 0.3px solid dodgerblue;
}

.add:hover path, .export:hover path, .settings:hover path {
	fill: white;
}

.nightm:hover path {
    fill: #e6ff00;
}

.add path, .bin path, .heart path, .export path, .nightm path, .settings path {
    fill: grey;
}

/*
    EDITOR.vue
*/

textarea {
    background: linear-gradient(#FFFFFF, #feffff);
    color: grey;
}

#screen {
    background: linear-gradient(#FFFFFF, #feffff);
    color: #5b5c5d;
}

::-webkit-scrollbar-track {
    background: linear-gradient(gainsboro 90%, #ffffff00);
}

::-webkit-scrollbar-thumb {
    background:#bbbbbb;
    outline: 1px solid grey;
}

/*
    EDITOR SCREEN
*/

h2 {
    border-bottom: 2px solid #eaeaea;
}

h6 {
    color: rgb(152, 150, 150);
}

blockquote {
    background: #f5f5f5;
    padding: 5px 15px;
    border-left: 0.25em solid #dfe2e5;
    color: #6a737d !important;
}

pre {
    background: #eaeaea;
    border: none;
}

code {
    border: 1px solid #eaeaea !important;
    background: #eaeaea !important;
}

hr {
    color: #dddddd;
}

table {
    border: 2px solid #d3dce4;
}

table thead tr {
    background: #d3dce4;
}

table tr {
    background-color: white;
}

table tr:nth-child(2n) {
    background: #eaeaea;
}

/*
    BOTTOM.vue
*/

#bottom {
    background: #feffff !important;
    color: grey !important;
}

footer #search input {
    background: #2E2E2E;
    color: rgb(162, 162, 162);
    border-color: rgb(162, 162, 162);
}

.editor-search-bar-small-btn, .editor-search-bar-small-btn .darker {
    fill: rgb(162, 162, 162);
}

.editor-search-bar-small-btn .lighter {
    fill: #d2d1d1;
}

.editor-search-bar-small-btn {
    border-top: 0.5px solid #cccccc;
    border-left: 0.5px solid #cccccc;
    border-right: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    background: white;
}

.editor-search-bar-small-btn:first-child {
    border-top: 0.5px solid #cccccc;
    border-left: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    background: white;
}

.editor-search-bar-small-btn:last-child {
    border-top: 0.5px solid #cccccc;
    border-right: 0.5px solid #cccccc;
    border-bottom: 0.5px solid #cccccc;
    background: white;
}

.editor-search-bar-input {
    border-color: rgb(210, 205, 205);
    color: #505966;
}

.editor-search-bar-btn {
    background: white;
    color: #505966;
}

.editor-search-bar-btn:active {
    background: dodgerblue;
    color: white;
}

.editor-search-bar-input:focus {
    border-color: dodgerblue;
}

.editor-search-bar-close-btn {
    fill: #505966;
}

.editor-search-bar {
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background: #e1e1e1;
}

.md-icn {
    fill: #f5f5f5f5;
}

.type {
    background: #eaeaea !important;
}

.item-1 {
    color: white;
    background: #808091;
}

.live {
    background: dodgerblue;
    color: white;
}
