/*
    general styling
*/

.katex {
    background: #093758;
}

.btn {
    background: white;
    color: grey;
}

.btn {
    background: #155577;
    color: #d4d2d2 !important;
}

.active, .activeEmoji {
    background: #0a273c;
    color: dodgerblue !important;
}

.hover {
    background: #112f44;
}

.activeBtn {
    color: white !important;
    background: dodgerblue !important;
}

/*
    NOTESLIST.vue
*/

::placeholder {
    color: #d4d2d2;
}

.search-msg {
    background: #0a273cb3;
    color: #c1bfbf;
    padding: 18px 12px;
    border-radius: 5px;
}

#toolset {
    background: #0A273C;
}

.sidebtn {
    background: #155577;
}

#sidepane-btn {
    background: #082133;
}

#sidepane-btn svg path {
    fill: white !important;
}

#notes-list {
    background: linear-gradient(#0C304A, #1E394A);
}

#list-group-item-heading, .list-group-item a, .left h3 {
    color: #d4d2d2;
}

.search {
    background: #0d304a;
    color: #c1bfbf;
}

#t-modal, #t-modal1 {
    background: #082133;
    color: #c1bfbf;
}

#t-modal input{
    background:  #082133;
    border-bottom: 0.3px solid #1d394a;
}

#t-modal input:focus {
    border-bottom: 0.3px solid dodgerblue;
}

#t-modal1 .buttonArray button {
    background: #155577;
    color: #ffffff;
}

#t-modal1 .buttonArray button:hover {
    background: #1d394a;
}

.add path, .bin path, .heart path, .export path, .settings path {
    fill: #c1bfbf;
}

.add:hover path, .bin:hover path, .export:hover path, .settings:hover path {
	fill: white;
}

.nightm:hover path {
    fill: #a2a50e;
}

.nightm path {
    fill: #d8ef05;
}

.active-settings path {
    fill: #4183c4;
}

/*
    EDITOR.vue
*/

.warning {
    background: #ff0000d6;
    color: #ffffff;
}

.warning button {
    background: #feffff;
    color: grey;
}

.success {
    background: #55a532;
    color: #ffffff;
}

#editor {
    background: linear-gradient(#0C304A, #092437);
}

#textarea {
    background: transparent;
    color: #d4d2d2;
}

.autocomp table tr:hover {
    background: #d7d7d7;
}

textarea::selection {
    background: #009CFF;
}

::-webkit-scrollbar-track {
    background: linear-gradient(#104d79 60%, #ffffff00);
}

::-webkit-scrollbar-thumb {
    background: #00121f !important;
}

/*
    EDITOR SCREEN
*/

#fake-ta {
    color: transparent;
}

#screen {
    background: transparent;
    color: #dadada;
}

#screen::selection {
    background: #009CFF;
}

#screen a {
    color: #4cc2ff !important;
}

.checkbox-span {
    background: #ebf6ffb8;
}

h2 {
    border-bottom: 1.5px solid #09436dcc;
}

h6 {
    color: #9a9a9a;
}

strong {
    color: white;
}

blockquote {
    padding: 5px 15px;
    background: rgba(5, 32, 49, 0.36);
    border-left: 0.25em solid #0c9dc1;
    color: #6c8096;
}

pre {
    background:  #052031 !important;
}

code {
    border: 1px solid #052031 !important;
    background: #052031 !important;
}

hr {
    color: #1d394a;
}

table {
    border: 2px solid #1d394a;
}

table thead tr:first-child {
    background: #0a4069 !important;
}

table tr {
    background: #0c304a00 !important; /*#0728408c !important*/
}

table tr:nth-child(2n) {
    background-color:  #0c304a !important;
}

/*
    SETTINGS.vue
*/

.main-settings-container {
    background: #ffffff;
}

.settings-options {
    color: #eaeaea;
}

.right button {
    color: #feffff;
    background: #1d394a;
}

.right button:hover {
    background: dodgerblue;
}

.header {
    background: #0a273c;
}

.content {
    background: #112f44;
}

.options-container select {
    border: 1px solid #1b2a3b;
    background: #0a273c;
    color: #eaeaea;
}

.options-container input {
    background: none;
    color: #eaeaea;
}

.options-container p, .settings-options h3, .footer p {
    color: #eaeaea;
}

.left svg path, .right a svg g path {
    fill: #d4d2d2;
}

.options-container .slider {
    background: #092437;
}

.options-container .slider:before {
    background-color: #1d394a;
}

.options-container input:checked + .slider {
    background: #2196f3;
}

/*
    BOTTOM.vue
*/
#bottom {
    background: linear-gradient(#092437, #052133);
    color: #cccccc;
}

footer #search input {
    background: #2E2E2E;
    border-color: #0C304A;
}

.autocomp {
    background: #082133db;
    border-color: 2px solid #1d394a;
}

.editor-search-bar-small-btn, .editor-search-bar-small-btn .darker {
    fill: #839198;
}

.editor-search-bar-small-btn .lighter {
    fill: #cccccc;
}

.editor-search-bar-small-btn {
    border-top: 0.5px solid #08253a;
    border-right: 0.5px solid #08253a;
    border-left: 0.5px solid #08253a;
    border-bottom: 0.5px solid #08253a;
    background: #1b2a3b;
}

.editor-search-bar-small-btn:first-child {
    border-top: 0.5px solid #08253a;
    border-left: 0.5px solid #08253a;
    border-bottom: 0.5px solid #08253a;
    background: #1b2a3b;
}

text {
    fill: #cccccc;
}

.editor-search-bar-small-btn:last-child {
    border-top: 0.5px solid #08253a;
    border-right: 0.5px solid #08253a;
    border-bottom: 0.5px solid #08253a;
    background: #1b2a3b;
}

.editor-search-bar-input-container {
    background: #0c304a;
    border-color: #08253a;
}

.editor-search-bar-input {
    /*border-color: #08253a;*/
    color: #cccccc;
    background: transparent;
}

.activated {
    border-color: dodgerblue !important;
    background: #173e5a;
}

.activated-no-match {
    border-color: red;
    background: #ff00003d;
}

.activated-matched {
    border-color: #55a532;
    background: #3db92a42 !important;
}

.grey {
    color: #cccccc !important;
}

.red {
    color: #f10000;
}

.green {
    color: #3db92a;
}

.editor-search-bar-btn {
    border-color: #1b2a3b;
    background: #1b2a3b;
    color: #d3d3d3;
}

.editor-search-bar-btn:active {
    background: dodgerblue;
    color: white;
}

.editor-search-bar-input:focus {
    border-color: #0a5e9a;
}

.editor-search-bar-close-btn {
    fill: #505966;
}

.editor-search-bar {
    border-top: 1px solid #0c304a;
    border-bottom: 1px solid #0c304a;
    background: #052133;
}

.item-1 {
    color: white;
    background: #1d394a;
}

.md-icn {
    fill: #052031;
}

.type {
    background: #104d79 !important;
}

.live {
    background: dodgerblue;
    color: white;
}

.katex span {
    text-decoration: none !important;
}

#fake-ta span {
    color: transparent;
}

#fake-ta .mispelled, #screen .mispelled {
    background: transparent;
    text-decoration-style: dotted;
    text-decoration-color: #ff0000b0;
    text-decoration-line: underline;
}

#fake-ta .selection {
    background: #1e90ff4d;
}

mark {
    background: #45ff0029;
    color: transparent;
}
