#bottom {
    font-family: Lato;
    background-color: rgb(230, 230, 230);
    padding-top: .512rem;
    text-align: center;
    color: grey;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.725rem;
    clear: both;
    cursor: default;
    position: absolute;
    -webkit-user-select: none;
    border-top: solid 0.1px rgb(200, 200, 200);
}
