.btn {
	background: white;
	border: none;
	outline: none;
	color: gray;
	padding: 8px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}

.btn:hover {
	background: dodgerblue;
	color: white;

}

.btn:active {
    opacity: .75;
	color: white;
	background: dodgerblue;
}

.btn-main-group {
	margin-bottom: 12px;
}

.btn-group {
    float: left;
}

.btn-group:after, .btn-group:before {
    content:"";
    display:table;
    clear:both;
}

.btn-1 {
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
}

.btn-2 {
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
}

.icon-after-1 {
	margin-left: 20px;
}

.btn-first {-webkit-user-select: none;
	margin-left: 12px;
}

.icon-btns {
	border: none;
	outline: none;
	background: none;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;-webkit-user-select: none;
	transition: opacity 0.5s ease;
}

.icon-btns:active {
    opacity: .75;
}

.bottom-btns {
    padding: 5px 25px 25px 25px;
	bottom: 2px;
	align-items: center;
	position: absolute;
}

.add:hover svg path {
	fill: white !important;
}

.heart:hover svg path {
	fill: hotpink !important;
}

.delete:hover svg path {
	fill: red !important;
}

.settings:hover svg path {
	fill: dodgerblue !important;
}

.starred svg path {
	fill: hotpink !important;
}
