@import "notes-list.css";
@import "editor.css";
@import "bottom.css";
@import "button.css";


@font-face {
	font-family: 'Lato';
	src: url('./../fonts/Lato/Lato-Regular.ttf');
}

html, #app {
    font-family: Lato, sans-serif !important;
    border: 0;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    max-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    text-decoration-color: none;
    color: grey;
    cursor: default;
}

img, svg {
    user-drag: none;
    user-select:none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.starred {
  fill: #192024;
}
